.animated-title{
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}
  
.animated-paragraph-1{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
  
.animated-paragraph-2{
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}
  
.animated-paragraph-3{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}
  
.animated-paragraph-4{
    opacity: 0;
    animation: fadeIn 2.5s ease-in forwards;
}
  
.animated-paragraph-5 {
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
} 
  
.footer {
    /* Set initial state to hidden */
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 3.5s ease-in forwards;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  
.footer.animated {
    /* Add the fadeIn animation when the 'animated' class is present */
    opacity: 1;
    visibility: visible;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  
.footer p {
    margin-bottom: 10px;
}
  
.footer a {
    margin-bottom: 5px;
    
}

p {
    font-size: 20px;
    font-weight: bold;
    cursor: text;
    line-height: 1.5;
}
  
a {
    color: #0035c7;
    font-size: 20px;
}
  
.previous-assignments {
    grid-column: span 6;
}
  
.contect-us {
    grid-column: span 8;
}
  
.contect-us a {
    margin-bottom: 5px;
}