#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    min-height: 100vh;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2vw;
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.logged-in {
    display: flex;
    column-gap: 1vw;
}

.logged-in button {
    width: fit-content;
    padding: 0px;
}