.recipes-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: baseline;
}

button {
    width: 10vw;
}

.RandomRecipes {
    margin: 10px 0 10px;
}

.blur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

::v-deep .blur .recipe-preview {
    pointer-events: none;
    cursor: default;
}