.wrapper {
    display: flex;
}

.wrapped {
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recipe-properties img {
    width: 3%;
    height: 3%;
}

/* .recipe-header{

} */