// .recipe-preview-list-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

.random-header {
    display: flex;
    justify-content: flex-start;
}

// .row {
//     justify-content: center;
// }

// h3 {
//     padding: 0px;
// }

button {
    margin-right: 1%;
    display: inline-block;
    padding: 3px;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: larger;
}

.list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
