.wrapper {
    display: flex;
}

.wrapped {
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recipe-properties {
    display: flex;
    flex-direction: column;
}

.recipe-properties {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .recipe-properties img {
    width: 30px;
    margin-bottom: 10px;
  }
  
  .recipe-properties button {
    display: inline-block;
    padding: 3px;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: larger;
  }

  .recipe-info {
    display: flex;
    justify-content: flex-start;
  }

  .recipe-indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe-image {
    width: 90%;
    max-width: 350px;
  }

  .red {
    color: red;
  }